.about-me {
  display: flex;
  align-items: center;
  margin: 1rem 3rem;
  padding: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 400px;
}

.about-me img {
  max-height: 300px;
  margin: 1rem;
  border-radius: 5px;
}

.description {
  margin: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.skills-list {
  display: flex;
  align-items: center;
  margin: 1rem 3rem;
  padding: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 400px;
  flex-direction: column;
}

.skills-list h2 {
  margin: 0 auto 2rem;
}

.skills {
  display: flex;
  gap: 1rem 6rem;
  flex-wrap: wrap;
  justify-content: center;
}


.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  white-space: nowrap;
}

.skill img {
  max-width: 100%;
}

.interest-list {
  display: flex;
  align-items: center;
  margin: 1rem 3rem 0;
  padding: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  min-width: 400px;
  flex-direction: column;
}

.interest-list h2 {
  margin: 0 auto 2rem;
}

.interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem 3rem;
}

.interest p {
  margin-top: 0;
}

.heading {
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media only screen and (max-width: 906px) {
  .about-me {
    flex-direction: column;
  }
}