.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem auto 0;
}

img {
  max-height: 300px;
  border-radius: 150px;
  margin: 2rem auto;
}

.links {
  display: flex;
  justify-content: space-around;
}

.contact {
  margin-top: 2rem;
}