* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #D2D7DF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-size: 48px;
  margin-top: 3rem;
}

h2, h3, h4, 
h5, h6 {
  font-family: 'Rokkitt', serif;
}

p {
  font-family: 'Rubik', sans-serif;
}

@media only screen and (max-width: 899px) {
  h1 {
    font-size: 36px;
  }
}